

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --black-modal: hsla(0, 0%, 0%, 0.5);
    --font: "Kumbh Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "kumbh Sans", sans-serif;
    position: relative;
}

.main {
    width: 446px;
    /*  border: 1px solid black; */
    margin: auto;
    position: relative;
}
@media (min-width: 1115px) {
    .main {
        width: 1115px;
    }
}
.header {
    /* border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 24px;
}
@media (min-width: 1115px) {
    .header {
        height: 112px;
        border-bottom: 1px solid var(--grayish-blue);
    }
}
.header__navegador {
    width: 175px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 1115px) {
    .header__navegador {
        width: 590px;
    }
}
.menu:hover {
    cursor: pointer;
}
@media (min-width: 1115px) {
    .menu {
        display: none;
    }
}
.header__cart-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
}
@media (min-width: 1115px) {
    .header__cart-profile {
        width: 121px;
    }
}
.header_cart:hover {
    position: relative;
    cursor: pointer;
}

.header_cart--notification {
    display: none;
    background-color: var(--orange);
    width: 15px;
    height: 12px;
    border-radius: 16px;
    /*  position: absolute; */
    top: 5px;
    right: 5px;
    font-size: 0.6em;
    text-align: center;
    color: var(--white);
}
.avatar {
    width: 24px;
}
@media (min-width: 1115px) {
    .avatar {
        width: 48px;
    }
}
.avatar:hover {
    cursor: pointer;
    border: 2px solid var(--orange);
    border-radius: 50%;
}

/* /nav/ */
.iconos-head {
    display: none;
    width: 400px;
}
.iconos-head__items {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.iconos-head__link {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    display: block;
    height: 112px;
    padding-top: 42px;
}
@media (min-width: 1115px) {
    .iconos-head {
        display: block;
    }
}

.iconos-head__link:hover {
    border-bottom: 4px solid var(--orange);
}
.head-background {
    /*    /background-color: var(--black-modal);/ */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
.iconos-head2 {
    background-color: var(--white);
    width: 250px;
    height: 100%;
    padding: 28px 24px;
    display: none;
}
.iconos-head__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    list-style: none;
    margin-top: 50px;
}
.iconos-head__link {
    text-decoration: none;
    color: var(--very-dark-blue);
    font-weight: 700;
    font-size: 1.1em;
}
.iconos-head__close-icon:hover {
    cursor: pointer;
}
h1 {
    text-align: center;
    margin-top: 20px;
  }

  #tabla-personas {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
  }

  #tabla-personas th,
  #tabla-personas td {
    padding: 10px;
    text-align: center;
  }

  #tabla-personas th {
    background-color: #f2f2f2;
  }

  #tabla-personas tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #tabla-personas tr:hover {
    background-color: #ddd;
  }
  
  
  .agregar {
        position: absolute;
        top: 17%;
        right: 110px; /* Ajusta este valor para la separación deseada desde el borde derecho */
        transform: translateY(-50%);
        width: 90px;
        height: 30px;
        border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: 0.9em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: var(--orange);
      }

      .agregar:hover {
        cursor: pointer;
        border: 2px solid var(--orange);
        opacity: 0.7;
      }

 .editar {
        border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: 0.9em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: var(--orange);
    height: 28px;
    width: 88px;
    margin-bottom: 10px;
    margin-left: 30px;
 }

 .editar:hover {
    cursor: pointer;
    border: 2px solid var(--orange);
    opacity: 0.7;
  }

.eliminar {
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: 0.9em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: var(--black-modal);
    height: 28px;
    width: 88px;
    margin-bottom: 10px;
    margin-left: 30px;
   
}

.eliminar:hover {
    cursor: pointer;
    border: 2px solid var(--black-modal);
    opacity: 0.7;
}

.modal-editar-producto__background {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black-modal);
    /* display: grid; */
    display: none;
    place-content: center;
}

.modal-editar-producto, .modal-eliminar-producto {
    width: 375px;
    height: 400px;
    background-color: var(--white);
    display: grid;
    place-content: center;
    border-radius: 15px;
    padding: 30px;
}

.modal-editar-producto {
    position: relative;
}

.modal-eliminar-producto {
    height: 200px;
}

.cerrar {
    width: 20px;
    height: 20px;
    color: var(--orange);
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
}

form {
    display: grid;
    gap: 10px;
    place-content: center;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--grayish-blue);
    padding: 0 15px;
}

input:focus {
    outline: 2px solid green;
}

.aceptar {
    cursor: pointer;
    width: 90px;
    height: 30px;
    background-color: var(--orange);
    color: azure;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
}

.modal-eliminar-producto__background {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black-modal);
    /* display: grid; */
    display: none;
    place-content: center;
}

.modal-eliminar-producto__title {
    text-align: center;
}

.modal-eliminar-producto__contenedor-botones {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
}

.modal-button {
    cursor: pointer;
    width: 110px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--white);
}

.modal-eliminar-producto__contenedor-botones--yes {
    background-color: var(--orange);
}

.modal-eliminar-producto__contenedor-botones--not {
    background-color: var(--dark-grayish-blue);
}

 
